/*LE BODY*/
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
a {
  text-decoration: none !important;
}
main {
  width: 93%;
  max-width: 1440px;
  margin: auto;
}
/*LE HEADER*/
.logo {
  margin-top: 15px;
}
nav {
  width: 480px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  float: right;
  margin-top: -8px;
  margin-right: -25px;
}
.btn_lodging,
.btn_activity,
.btn_signup {
  display: flex;
  width: 160px;
  flex-direction: column;
  align-items: center;
}
.btn_signup {
  font-weight: bold;
}
.p1 {
  color: #0065fc;
}
.p2 {
  color: black;
}
.p2:hover {
  color: #0065fc;
}
.line {
  width: 100%;
  height: 2px;
  background-color: #0065fc;
}
header {
  height: 140px;
  margin-top: 8px;
}
h1 {
  font-size: 1.4em;
  margin-top: 25px;
}
.p_header {
  margin-top: -7px;
  font-size: 0.9em;
}
/* RECHERCHER*/
.search_bar {
  width: 420px;
  height: 50px;
  border: #f2f2f2 solid 1px;
  border-radius: 20px;
  display: flex;
}
.loc_logo {
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}
.input {
  width: 235px;
  padding: 0 0 0 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: grey;
  font-size: 1.2em;
  border: transparent;
}
.btn_search {
  border: transparent;
  width: 135px;
  border-radius: 0 15px 15px 0;
  background-color: #0065fc;
  color: white;
  font-size: 1.1em;
}
.fa-search {
  display: none !important;
}
.btn_search:hover {
  background-color: blue;
}
/*LES FILTRES*/

.bloc_filters {
  display: flex;
  align-items: center;
}
.filter {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}
.h2_f {
  font-size: 1.1em;
  padding-right: 35px;
}
.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #0065fc;
  font-size: 1.2em;
  width: 50px;
  height: 50px;
  background-color: #deebff;
  border-radius: 50px;
  margin-right: 10px;
}
.eco,
.family,
.romantic,
.pets {
  width: auto;
  height: 45px;
  border: #f2f2f2 solid 3px;
  border-left: transparent;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.eco:hover,
.family:hover,
.romantic:hover,
.pets:hover {
  background-color: #deebff;
}
/* LE RESULT*/
.fa-info {
  color: #0065fc;
  font-size: 0.7em;
}
.info_logo {
  width: 20px;
  height: 20px;
  border: #f2f2f2 solid 1px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.result {
  display: flex;
  align-items: center;
}
/*SECTION HEBERGEMENTS*/
.bloc_lodging {
  border-radius: 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
.h1_lodging {
  font-size: 1.4em;
  margin-left: 35px;
}
.h2_lodging {
  font-size: 1.2em;
  font-weight: bold;
  margin: 35px 0 35px 35px;
}
.picture {
  height: 120px;
}
.picture img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  background-size: 100% 100%;
}
h3 {
  margin-top: 7px;
  font-size: 1.1em;
}
.price {
  margin-top: -13px;
  height: 20px;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}
.fa-star {
  font-size: 0.7em;
}
.star {
  margin-top: 5px;
  height: 15px;
  display: flex;
  align-items: center;
}
.star_blue {
  color: #0065fc;
}
.star_grey {
  color: #f2f2f2;
}
.info {
  width: 235px;
  height: 75px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.thumbnail {
  width: 100%;
  height: 200px;
  background-color: white;
  border: solid transparent 6px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 1px 1px 17px -9px rgb(0 0 0 / 75%);
}
.thumbnail:hover {
  transform: scale(1.05);
}
.mini_lodging {
  display: flex;
  justify-content: center;
}
.lodging {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 0 30px 0 30px;
}
section {
  display: grid;
  grid-template-columns: 1.9fr 1fr;
  column-gap: 30px;
  margin: 40px 0 60px 0;
}
/*POPULAIRES*/

.bloc_popular {
  width: 100%;
  height: 625px;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.title_popular {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-chart-line {
  font-size: 1.4em;
}
.thumbnail_pop {
  width: 85%;
  height: 145px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  border: solid transparent 5px;
  display: flex;
  box-shadow: 1px 1px 17px -9px rgb(0 0 0 / 75%);
}
.picture_pop img {
  width: 130px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  background-size: 100% 100%;
}
.info_pop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}
.popular {
  display: grid;
  grid-gap: 13px;
}
.thumbnail_pop:hover {
  transform: scale(1.02);
}
/* ACTIVITES */

.activity {
  width: 100%;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}
.box_activity {
  margin-top: 5px;
  max-width: 1440px;
  width: 100%;
  height: 445px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr 0.3fr 0.3fr 0.3fr 0.3fr 3fr;
  grid-gap: 30px;
  grid-template-areas:
    "activity-1 activity-2 activity-4 activity-5"
    "activity-1 activity-2 activity-4 activity-5"
    "activity-1 activity-2 activity-4 activity-6"
    "activity-1 activity-2 activity-4 activity-6"
    "activity-1 activity-3 activity-4 activity-6"
    "activity-1 activity-3 activity-4 activity-6";
}
#activity-1 {
  grid-area: activity-1;
}
#activity-2 {
  grid-area: activity-2;
}
#activity-3 {
  grid-area: activity-3;
}
#activity-4 {
  grid-area: activity-4;
}
#activity-5 {
  grid-area: activity-5;
}
#activity-6 {
  grid-area: activity-6;
}
.mini_activity img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 21px;
}
.mini_activity {
  position: relative;
  width: 100%;
}
.mini_activity:hover {
  transform: scale(1.03);
}
h4 {
  position: absolute;
  bottom: 0;
  background-color: white;
  font-weight: bold;
  width: 95.8%;
  height: 55px;
  padding-left: 15px;
  margin-bottom: 0;
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 1px 17px -9px rgb(0 0 0 / 75%);
  display: flex;
  align-items: center;
}
/* FOOTER */
footer {
  width: 100%;
  height: 220px;
  margin-top: 50px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ourlodgings,
.assistance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.assistance {
  margin-right: 27%;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
  padding-top: 24px;
}
h2 {
  font-size: 1.1em;
  padding-bottom: 5px;
}
a {
  text-decoration: none;
  color: initial;
  margin-bottom: 5px;
}
a:hover {
  text-decoration: underline;
}
