/*Ordinateurs*/

@media screen and (max-width: 1440px) {
  section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .bloc_lodging {
    margin-top: 15px; /*  */
  }
  .bloc_popular {
    height: 250px;
    margin-bottom: 15px;
  }
  .popular {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .title_popular {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 30px;
  }
  .fa-chart-line {
    padding-left: 20px;
  }
  .thumbnail {
    width: 100%;
  }
  .thumbnail_pop {
    width: 95%;
  }
}

/* Tablettes*/

@media screen and (max-width: 991px) {
  .filter {
    height: 100%;
    max-width: 990px;
    flex-wrap: wrap;
  }
  .bloc_filters {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
  }
  .popular {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
  }
  .bloc_popular {
    height: 100%;
  }
  .lodging {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  h4 {
    width: 92.5%;
  }
}

/*Smartphones*/

@media screen and (max-width: 991px) {
  main {
    width: 100%;
  }
  header {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 100%;
  }
  .top_header {
    width: 100%;
  }
  .top_header img {
    position: relative;
    top: 0;
    left: 0;
  }
  .btn_search_icon {
    display: block;
    border: transparent;
    width: 50px;
    border-radius: 15px;
    background-color: #0065fc;
    color: white;
    font-size: 1.1em;
  }
  .result {
    width: 91%;
    margin: auto;
  }
  .btn_search {
    display: none;
  }
  .search_bar {
    justify-content: space-between;
    width: 310px;
    margin: auto;
    margin-bottom: 15px;
  }
  .search-responsive {
    display: block;
    border: transparent;
    width: 50px;
    border-radius: 15px;
    background-color: #0065fc;
    color: white;
    font-size: 1.1em;
  }
  .bloc_filters {
    width: 90%;
    margin: auto;
  }
  .bloc_popular {
    width: 100%;
    border-radius: 0%;
  }
  .title_popular {
    justify-content: space-between;
  }
  .lodging {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .bloc_lodging {
    background-color: white;
  }
  .box_activity {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .h1_activity {
    margin-left: 15px;
  }
  .h1_lodging {
    margin-left: 15px;
  }
  h1 {
    padding-left: 10px;
  }
  .p_header {
    padding-left: 10px;
  }
  .mini_activity {
    width: 95%;
    margin: auto;
    height: 190px;
  }
  h4 {
    width: 98%;
  }
  .section_activity {
    width: 95%;
    margin: auto;
    margin-top: -50px;
  }
  footer {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
  }
  nav {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "logo btn_signup"
      "btn_lodging btn_activity";
    margin-bottom: 50px;
    margin-top: -50px;
  }
  #logo {
    grid-area: logo;
    margin-left: 20px;
  }
  #btn_signup {
    grid-area: btn_signup;
    align-items: flex-end;
  }
  #btn_lodging {
    grid-area: btn_lodging;
    flex-direction: column-reverse;
    width: 100%;
  }
  #btn_activity {
    flex-direction: column-reverse;
    grid-area: btn_activity;
    width: 100%;
  }
  .line_grey {
    width: 100%;
    height: 2px;
    background-color: #f2f2f2;
  }
  .search {
    margin-top: 20px;
  }
  .fa-search {
    display: block !important;
  }
}
